@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font: normal 16px 'Roboto', sans-serif;
    color: #0f141e;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: orangered;
}

a:visited {
    color: green;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.avatar {
    width: 150px;
    border-radius: 28px;
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 40px;
}

.info-text p {
    font-style: italic;
    color: #86898f;
    margin: 0;
}

.card {
    border-radius: 15px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.bg-Aquamarine {
    background: #7FFFD4;
}

.bg-PaleGreen {
    background: #98FB98;
}

.btn {
    background: brown;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: .8;
}

.list {
    padding: 0 20px;
}

.list li {
    color: blue;
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2), .table td:nth-child(3) {
    color: #696969;
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    margin-right: 20px;
    width: 50%;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: red;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

@media (max-width: 570px) {
    .info {
        display: block;
        text-align: center;
    }

    .form-row {
        display: block;
    }

    .form-row .form-group {
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }

}